body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f7fafc
}

.main {
	padding-top: 8%;
	justify-content: center;
	align-items: center
}

#tickets-form {
	display: none
}

.deco {
	background-color: #fd6b63;
	color: #fff;
	margin-top: 10px
}

.deco:hover {
	background-color: #d9645e;
	color: #fff
}

.logo {
	width: 100px;
	padding-top: 10px
}

.device {
	font-size: 50px
}

.responsive {
	font-family: Roboto, sans-serif;
	color: #657884;
	font-size: 1rem;
	text-align: center
}

h1 {
	font-size: 1.9rem;
	font-weight: 700;
	color: #4a557c
}

h1, h2 {
	text-align: center
}

h2 {
	font-family: Roboto, sans-serif;
	color: #657884;
	font-size: 1.2rem
}

.form_login {
	padding-top: 20px
}

.form-control {
	font-weight: 600
}

.btn {
	font-weight: 600;
	width: 100%
}

.is-orange {
	background-color: #fda763;
	color: #fff
}

.is-orange:hover {
	background-color: #d9955e;
	color: #fff
}

.matcha {
	color: #ff6f00;
	font-size: 60px;
	font-family: 'Maven Pro', sans-serif
}

@media only screen and (min-width:1200px) {
	.device {
		color: #444
	}
	.device-computer {
		color: #ff6f00
	}
	.responsive {
		position: fixed;
		bottom: 0;
		right: 0;
		padding: 10px
	}
}

@media only screen and (max-width:1200px) {
	.device {
		color: #444
	}
	.logo {
		width: 200px
	}
	.device-tablet {
		color: #ff6f00
	}
	.responsive {
		padding-top: 20px
	}
	.form-main {
		padding-top: 50px
	}
	.form-group {
		padding-top: 2%
	}
	.img-container {
		text-align: center
	}
}

@media only screen and (max-width:766px) {
	.logo {
		width: 25vw
	}
	.device {
		color: #444
	}
	.device-phone {
		color: #ff6f00
    }
    footer{
        padding-top: 10px;
    }
}