<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <title>Matcha Admin</title>
  </head>
  <body>
  	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <div class="row">
        <div class="col-12">
            <figure class="highcharts-figure">
                <div id="pie"></div>
            </figure>
        </div>
    </div>
    <div class="item-container">
        {% for data in data %}
        <div class="item">
            <p> il reste : {% if data[1] == 0 %}
                <span class="urgent"> {{ data[1] }} {% else %} {{ data[1] }} {% endif %} trajets</span> à <span class="name">{{ data[0] }}</span> !</p>
            <p>Dernière utilisation : {{ data[2] }}</p>
            <form action="http://localhost:5000/result" method="POST" accept-charset="utf-8">
                <p>
                    Nombre de trajet souhaité en plus :
                    <br>
                    <input type="number" name="nb_trajet" id="tickets_input">
                    <input type="hidden" name="uid" value="{{ data[3] }}">
                    <input type="hidden" name="trajet_actuel" value="{{ data[1] }}">
                </p>
                <button type="submit" class="btn btn-success">Valider !</button>
            </form>
        </div>
        {% endfor %}
    </div>
  <script type="text/javascript">
Highcharts.chart('pie', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Representation graphique des trajets utilisateurs'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: '40 trajets ou plus',
            y: {{ graph[0] }}
        }, {
            name: '30 trajets ou plus',
            y: {{ graph[1] }}
        }, {
            name: '20 trajets ou plus',
            y: {{ graph[2] }}
        }, {
            name: '10 trajets ou plus',
            y: {{ graph[3] }}
        }, {
            name: '5 trajets ou plus',
            y: {{ graph[4] }}
        }, {
            name: 'moins de 5 trajets',
            y: {{ graph[5] }}
        }]
    }]
});
</script>
  </body>
</html>