<!DOCTYPE html>
<html>
<head>
	<title>Sucess</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
	<meta http-equiv="refresh" content="3;url=/" />
</head>
<body>
	<div class="success_container">
		<div class="success">
		<p class="text">Votre paiement pour
		{% if trajet %}
			<span class="orange">{{ trajet }}
		{% endif %}
		trajets </span> a été correctement validé !<br>Retour à l'accueil dans 3 sec</p>
		</div>
	</div>
</body>
</html>